:root {
    --color-base-text: #28322f;
    --color-black: #131313;
    --color-white: #f1f1f1;
    --color-primary: #126445;
    --color-primary-light: #a8c7bc;
    --color-primary-dark: #075538;
    --color-accordion: #d3e9e1;
    --color-gray: #fafafa;
    --color-placeholder: #a3a3a3;
    --color-focus: #2196f3;
}

body {
    line-height: 1.7;
    font-size: 16px;
    color: var(--color-base-text);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

.container {
    width: 90%;
    max-width: 760px;
    margin-inline: auto;
    padding: 80px 0;
}

.spacer {
    height: 40px;
}

/*!
ここから
------------------------------
*/
.contact-form-name,
.contact-form-inquiry {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--color-primary-light);
    background-color: var(--color-gray);
    padding: 12px 16px;
    outline: none;
}

.contact-form-name::placeholder,
.contact-form-inquiry::placeholder {
    color: var(--color-placeholder);
    font-weight: bold;
}

.contact-form-inquiry {
    min-height: 200px;
    field-sizing: content;
}

.contact-form-name:focus,
.contact-form-inquiry:focus {
    border: 1px solid var(--color-focus);
}
