:root {
    --color-base-text: #28322f;
    --color-black: #131313;
    --color-white: #f1f1f1;
    --color-primary: #126445;
    --color-primary-light: #a8c7bc;
    --color-primary-dark: #075538;
    --color-accordion: #d3e9e1;
    --color-gray: #fafafa;
    --color-placeholder: #a3a3a3;
    --color-focus: #2196f3;
}

body {
    line-height: 1.7;
    font-size: 16px;
    color: var(--color-base-text);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

.container {
    padding: 80px 0;
}

/*!
ここから
------------------------------
*/
.header {
    padding: 32px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: var(--color-white);
    background-color: var(--color-primary);
}

.header-logo {
    width: 180px;
    transform: translateX(-6px);
}

@media screen and (min-width: 768px) {
    .header-logo {
        width: 240px;
        transform: translateX(-8px);
    }
}

.header-list {
    display: flex;
    gap: 4px;
    overflow-x: scroll;
    padding: 0 8px;
}

.header-list::-webkit-scrollbar {
    display: none;
}

.header-item {
    flex-shrink: 0;
}

.header-link {
    display: block;
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

@media (any-hover: hover) {
    .header-link:hover {
        background-color: var(--color-primary-dark);
    }
}

.header-link-active {
    background-color: var(--color-primary-dark);
}
