:root {
    --color-base-text: #28322f;
    --color-black: #131313;
    --color-white: #f1f1f1;
    --color-primary: #126445;
    --color-primary-light: #a8c7bc;
    --color-primary-dark: #075538;
    --color-accordion: #d3e9e1;
    --color-gray: #fafafa;
    --color-placeholder: #a3a3a3;
    --color-focus: #2196f3;
}

body {
    line-height: 1.7;
    font-size: 16px;
    color: var(--color-base-text);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

.container {
    width: 90%;
    max-width: 760px;
    margin-inline: auto;
    padding: 80px 0;
}

.spacer {
    height: 40px;
}

/*!
ここから
------------------------------
*/
.accordion {
    border-radius: 6px;
    overflow: hidden;
}

.accordion-summary {
    cursor: pointer;
    background-color: var(--color-accordion);
    display: block;
    padding: 12px 48px 12px 16px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.accordion-summary::-webkit-details-marker {
    display: none;
}

.accordion-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
}

.accordion-icon span {
    content: "";
    display: block;
    background-color: var(--color-base-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.accordion-icon span:nth-child(1) {
    width: 100%;
    height: 2px;
}

.accordion-icon span:nth-child(2) {
    width: 2px;
    height: 100%;
}

.accordion-contents {
    background-color: var(--color-gray);
    padding: 16px;
}
