:root {
    --color-base-text: #28322f;
    --color-black: #131313;
    --color-white: #f1f1f1;
    --color-primary: #126445;
    --color-primary-light: #a8c7bc;
    --color-primary-dark: #075538;
    --color-accordion: #d3e9e1;
    --color-gray: #fafafa;
    --color-placeholder: #a3a3a3;
    --color-focus: #2196f3;
}

body {
    line-height: 1.7;
    font-size: 16px;
    color: var(--color-base-text);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

.container {
    padding: 80px 0;
}

/*!
これ以降に書く
------------------------------
*/
