/*!
共通のスタイル
------------------------------
*/
:root {
    --color-base-text: #28322f;
    --color-black: #131313;
    --color-white: #f1f1f1;
    --color-primary: #126445;
    --color-primary-light: #a8c7bc;
    --color-primary-dark: #075538;
    --color-accordion: #d3e9e1;
    --color-gray: #fafafa;
    --color-placeholder: #a3a3a3;
    --color-focus: #2196f3;
}

body {
    line-height: 1.7;
    font-size: 16px;
    color: var(--color-base-text);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

/*!
レイアウト
------------------------------
*/
.l-container {
    width: 90%;
    margin-inline: auto;
    max-width: 760px;
}

.l-page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.l-page-main {
    flex: 1;
    padding: 64px 0;
}

@media screen and (min-width: 768px) {
    .l-page-main {
        padding: 80px 0;
    }
}

.l-page-main-body {
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .l-page-main-body {
        margin-top: 48px;
    }
}

/*!
コンポーネント
------------------------------
*/
.c-title-level1 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .c-title-level1 {
        font-size: 34px;
    }
}

.c-button-white,
.c-button-green {
    font-weight: bold;
    padding: 12px 40px;
    border-radius: 100vh;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.c-button-white {
    border: 3px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
}

@media (any-hover: hover) {
    .c-button-white:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}

.c-button-green {
    border: 3px solid var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);
}

@media (any-hover: hover) {
    .c-button-green:hover {
        background-color: var(--color-white);
        color: var(--color-primary);
    }
}

/*!
header
------------------------------
*/
.header {
    padding: 32px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: var(--color-white);
    background-color: var(--color-primary);
}

.header-logo {
    width: 180px;
    transform: translateX(-6px);
}

@media screen and (min-width: 768px) {
    .header-logo {
        width: 240px;
        transform: translateX(-8px);
    }
}

.header-list {
    display: flex;
    gap: 4px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header-list::-webkit-scrollbar {
    display: none;
}

.header-list::before,
.header-list::after {
    content: "";
    display: block;
    width: 4px;
    flex-shrink: 0;
}

.header-item {
    flex-shrink: 0;
}

.header-link {
    display: block;
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

@media (any-hover: hover) {
    .header-link:hover {
        background-color: var(--color-primary-dark);
    }
}

.header-link-active {
    background-color: var(--color-primary-dark);
}

/*!
footer
------------------------------
*/
.footer {
    padding: 40px 0 24px;
    background-color: var(--color-primary);
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 24px 0;
    }
}

.footer-inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .footer-inner {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-item:not(:last-child)::after {
    content: "/";
    display: inline-block;
    margin: 0 12px;
    color: var(--color-white);
}

.footer-link {
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold;
}

.footer-copyright {
    font-weight: bold;
    color: var(--color-white);
    text-align: center;
    display: block;
    font-size: 14px;
}

@media (min-width: 768px) {
    .footer-copyright {
        font-size: 16px;
    }
}

/*!
top
------------------------------
*/
.top-blog-card-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .top-blog-card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (any-hover: hover) {
    .top-blog-card-link:hover .top-blog-card-thumbnail img {
        scale: 1.05;
    }

    .top-blog-card-link:hover .top-blog-card-title {
        color: var(--color-primary);
    }
}

.top-blog-card-thumbnail {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.top-blog-card-thumbnail img {
    object-fit: cover;
    aspect-ratio: 342 / 234;
    transition: scale 0.3s;
}

.top-blog-card-date {
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
    padding: 2px 12px;
    border-radius: 0 0 16px 0;
}

.top-blog-card-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
    line-height: 1.6;
    transition: color 0.3s;
}

@media screen and (min-width: 768px) {
    .top-blog-card-title {
        font-size: 22px;
    }
}

.top-blog-more {
    display: grid;
    place-items: center;
    margin-top: 40px;
}

/*!
post
------------------------------
*/
.post-title-level1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .post-title-level1 {
        font-size: 32px;
    }
}

.post-intro-text {
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
    .post-intro-text {
        margin-top: 64px;
    }
}

.post-title-level2 {
    font-weight: bold;
    font-size: 20px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 6px;
    padding: 12px 16px;
    line-height: 1.6;
    margin: 48px 0 24px;
}

@media screen and (min-width: 768px) {
    .post-title-level2 {
        font-size: 26px;
        margin: 64px 0 24px;
    }
}

.post-title-level3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
    border-bottom: 2px solid var(--color-primary-light);
    padding-bottom: 9px;
    margin: 32px 0 24px;
}

@media screen and (min-width: 768px) {
    .post-title-level3 {
        font-size: 24px;
        margin: 40px 0 24px;
    }
}

.post-faq {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post-accordion {
    border-radius: 6px;
    overflow: hidden;
}

.post-accordion-summary {
    cursor: pointer;
    background-color: var(--color-accordion);
    display: block;
    padding: 12px 48px 12px 16px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.post-accordion-summary::-webkit-details-marker {
    display: none;
}

.post-accordion-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
}

.post-accordion-icon span {
    content: "";
    display: block;
    background-color: var(--color-base-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.post-accordion-icon span:nth-child(1) {
    width: 100%;
    height: 2px;
}

.post-accordion-icon span:nth-child(2) {
    width: 2px;
    height: 100%;
}

.post-accordion-contents {
    background-color: var(--color-gray);
    padding: 16px;
}

/*!
gallery
------------------------------
*/
.gallery-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
}

@media screen and (min-width: 400px) {
    .gallery-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .gallery-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .gallery-item:nth-child(1) {
        grid-column: 1/3;
    }
}

@media screen and (min-width: 768px) {
    .gallery-item:nth-child(2) {
        grid-column: 3/5;
    }
}

.gallery-item img {
    border-radius: 8px;
    aspect-ratio: 342/285;
    object-fit: cover;
}

/*!
about
------------------------------
*/
.about-thumbnail img {
    aspect-ratio: 342/240;
    object-fit: cover;
    border-radius: 16px;
}

@media screen and (min-width: 768px) {
    .about-thumbnail img {
        border-radius: 20px;
        aspect-ratio: 760/430;
    }
}

.about-text {
    margin-top: 24px;
}

/*!
contact
------------------------------
*/
.contact-form-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact-form-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-form-label {
    font-weight: bold;
    font-size: 18px;
}

@media (min-width: 768px) {
    .contact-form-label {
        font-size: 20px;
    }
}

.contact-form-name,
.contact-form-inquiry {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--color-primary-light);
    background-color: var(--color-gray);
    padding: 12px 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.contact-form-name::placeholder,
.contact-form-inquiry::placeholder {
    color: var(--color-placeholder);
    font-weight: bold;
}

.contact-form-inquiry {
    min-height: 200px;
    field-sizing: content;
}

.contact-form-name:focus,
.contact-form-inquiry:focus {
    border: 1px solid var(--color-focus);
}

.contact-form-button {
    display: grid;
    place-items: center;
}
