:root {
    --color-base-text: #28322f;
    --color-black: #131313;
    --color-white: #f1f1f1;
    --color-primary: #126445;
    --color-primary-light: #a8c7bc;
    --color-primary-dark: #075538;
    --color-accordion: #d3e9e1;
    --color-gray: #fafafa;
    --color-placeholder: #a3a3a3;
    --color-focus: #2196f3;
}

body {
    line-height: 1.7;
    font-size: 16px;
    color: var(--color-base-text);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

.container {
    width: 90%;
    max-width: 760px;
    margin-inline: auto;
    padding: 80px 0;
}

.spacer {
    height: 40px;
}

/*!
ここから
------------------------------
*/
.title-level1 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .title-level1 {
        font-size: 34px;
    }
}

.title-level2 {
    font-weight: bold;
    font-size: 20px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 6px;
    padding: 12px 16px;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .title-level2 {
        font-size: 26px;
    }
}

.title-level3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
    border-bottom: 2px solid var(--color-primary-light);
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .title-level3 {
        font-size: 24px;
    }
}
