/*!
共通のスタイル
------------------------------
*/
:root {
    --color-base-text: #28322f;
    --color-black: #131313;
    --color-white: #f1f1f1;
    --color-primary: #126445;
    --color-primary-light: #a8c7bc;
    --color-primary-dark: #075538;
    --color-accordion: #d3e9e1;
    --color-gray: #fafafa;
    --color-placeholder: #a3a3a3;
    --color-focus: #2196f3;
}

/*!
header
------------------------------
*/

/*!
footer
------------------------------
*/

/*!
top
------------------------------
*/

/*!
post
------------------------------
*/

/*!
gallery
------------------------------
*/

/*!
about
------------------------------
*/

/*!
contact
------------------------------
*/
